<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <title>SamSocial</title>
</head>

<body>
  <!-- Header -->
  <header>
    <button class="header-image-button" onclick="alert('make this do something');">
      <img src="images/global/heart.png">
    </button>
    <div class="header-left">
      <a href="home">Home</a>
      <a href="partners">Partners</a>
      <a href="join">Join</a>
    </div>
    <div class="header-right">
      <a href="signup">Sign up</a>
      <a href="login">Log in</a>
      <button class="header-image-button" onclick="alert('make this do something too i guess');">
        <img src="images/global/user-icon.png">
      </button>
    </div>
  </header>

  <!-- Splash content -->
  <img src="images/home/splash.jpg" class="splash-image">
  <h1 class="splash-h1">Samaritan Social</h1>

  <!-- Whatever comes next -->
</body>
</html>