<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <title>SamSocial</title>
</head>

<body>
  <header>
    <button class="header-image-button" onclick="alert('make this do something');">
      <img src="images/global/heart.png">
    </button>
    <div class="header-left">
      <a href="home">Home</a>
      <a href="partners">Partners</a>
      <a href="join">Join</a>
    </div>
  </header>
</body>
</html>