<link rel="stylesheet" href="styles/footer.css">
<footer>
  <div class="footer-text">
    <p>&copy; 2023 Samaritan Social</p>
    <a href="about">About</a>
    <a href="contact">Contact us</a>

    <p class="app-challenge-p">An app for the <a href="https://www.congressionalappchallenge.us/"
        class="app-challenge-link" target="_blank">Congressional App Challenge</a>.</p>
  </div>
</footer>