<header>
    <button class="header-image-button" onclick="location.href='/'">
      <img src="/images/global/heart.png">
    </button>
    <div class="header-left">
      <a href="/">About</a>
      <a href="/organizations">Organizations</a>
    </div>
    <div class="header-right">
      <% if (!currentUser) { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      <% } else { %>
        <a href="/logout">Logout</a>
        <a href="/users/<%= currentUser._id %>" class="header-image-button">
          <img src="/images/global/user-icon.png">
        </a>
      <% } %>
    </div>
</header>