<header>
    <button class="header-image-button" onclick="location.href='/'">
      <img src="/images/global/heart.png">
    </button>
    <div class="header-left">
      <a href="about">About</a>
      <a href="partners">Partners</a>
      <a href="join">Join</a>
    </div>
    <div class="header-right">
      <a href="signup">Sign up</a>
      <a href="login">Log in</a>
      <button class="header-image-button" onclick="location.href='account'">
        <img src="/images/global/user-icon.png">
      </button>
    </div>
</header>