<header>
    <button class="header-image-button" onclick="location.href='/'">
      <img src="/images/global/heart.png">
    </button>
    <div class="header-left">
      <a href="about">About</a>
      <a href="partners">Partners</a>
      <a href="join">Join</a>
    </div>
    <div class="header-right">
      <% if (!currentUser) { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      <% } else { %>
        <a href="/logout">Logout</a>
      <% } %>
      <button class="header-image-button" onclick="location.href='account'">
        <img src="/images/global/user-icon.png">
      </button>
    </div>
</header>