html, body {
    height: 100vh;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(4,42,91);
}

section {
    height: calc(100vh / 3);
    background-color: rgb(251,212,91);
}

section + section {
    border-top: 2px solid rgb(4,42,91);
}
navbar {

    display: flex;
}