/* Generic */

body {
  margin: 0;
  padding: 0;
}

/* Begin header */
header {
  background-color: #aaeffd;
  height: 6vh;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid black;
}

.header-left, .header-right {
  height: 6vh;
}

.header-image-button {
  padding: 0;
  height: 100%;
  border: none;
}

.header-image-button img {
  /* Make images fit into the header properly */
  height: 70%;
  margin: calc(6vw * 0.1);
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 12vw;
  height: 6vh;
  color: #000000;
  text-decoration: none;
  font-size: 1.25vw;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.header-right a {
  width: 7vw;
}

.header-right {
  right: 0;
  position: absolute;
}

header a, header button {
  background-color: transparent;
  cursor: pointer; /* Cursor styling */
  transition: background-color 0.2s linear;
}

header a:hover, header button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* End header */

/* Begin splash content */

.splash-image {
  width: 100vw;
  max-width: 100%; /* Prevent scrollbar overflow */
  height: 40vw;
  object-fit: cover;
  vertical-align: middle;
}

.splash-h1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25vh;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 4.5vw;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.75);
}

/* End splash content */

/* Begin Feature Cards */

.feature-cards-container {
  /* min-height: 10vh; */
  width: 100%;
  background-color: #88cddc;
  display: flex;
}

.feature-card {
  width: 30vw;
  min-height: 27vh;
  margin: 3vw;
  padding: 1vw;
  background-color: white;
  float: left;
  text-align: center; /* Center image */
}

.feature-card p {
  font-family: Verdana, sans-serif;
  font-size: 1.75vh;
  text-align: left; /* Un-center */
}

/* End Feature Cards */

/* Begin Mission Statement */

.mission-statement {
  display: inline-block;
}

.mission-left {
  margin: 0 3%;
  display: inline-block;
  width: 54%; /* 60 - 6% (above) */
}

.mission-statement img {
  float: right;
  width: 40%;
  height: 70vh;
  object-fit: cover;
} 

.mission-left h1 {
  font-family: Verdana, sans-serif;
  font-size: 4vw;
  max-width: 100%;
}

.mission-left p {
  font-family: Verdana, sans-serif;
  font-size: 1.75vh;
  max-width: 75%;
}

.mission-statement button {
  display: block;
  margin: 2vh auto; /* Adjust margin as needed */
  padding: 1vh 2vw; /* Adjust padding as needed */
  background-color: #cdcdcd;
  border: 2px solid #000000; /* Match the border style */
  border-radius: 5px; /* Add rounded corners */
  color: #000000;
  font-size: 1.25vw; /* Match the font size */
  font-weight: bold;
  font-family: Verdana, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.mission-statement button:hover {
  background-color: rgba(0, 0, 0, 0.35); /* Match the hover background color */
}

/* End mission Statement */

/* Begin partners */

.partners-container {
  height: 70vh;
  background-color: #5f929a;
  display: flex;
  align-items: center;
}

.partner { /* Global rules */
  background-color: white;
  width: 40vw;
  height: 25vw;
  margin: 5vw; /* Maybe change later? */
  padding: 1vw;
  display: flex;
  position: absolute;

  border: 1px solid black;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}

.partner-text {
  margin-left: auto; /* Float right inside flexbox */
  width: 60%;
  display: table;
}

.partner img {
  width: 30%;
  object-fit: contain;
}

.partner p, .partner h1 {
  font-family: Verdana, sans-serif;
}

.partner1, .partner5 {
  width: calc(40vw * (2/3));
  height: calc(25vw * (2/3));
  left: 14%;
  z-index: 1;
} .partner1 p, .partner5 p {
  font-size: calc(1.35vw * (2/3));
} .partner1 h1, .partner5 h1 {
  font-size: calc(2vw * (2/3));
} .partner2, .partner4 {
  width: calc(40vw * (4/5));
  height: calc(25vw * (4/5));
  left: 20%;
  z-index: 2;
} .partner2 p, .partner4 p {
  font-size: calc(1.35vw * (4/5));
} .partner2 h1, .partner4 h1 {
  font-size: calc(2vw * (4/5));
} .partner3 {
  left: 0;
  right: 0;
  z-index: 3;
} .partner3 p {
  font-size: 1.35vw;
} .partner3 h1 {
  font-size: 2vw;
} .partner4 {
  left: auto;
  right: 20%;
} .partner5 {
  left: auto;
  right: 14%;
}

/* MAKE UNIVERSAL */

/* End partners */

/* Begin org-join */