body {
  margin: 0;
  padding: 0;
}

/* Header stuff */
header {
  background-color: #aaeffd;
  height: 6vh;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid black;
}

.header-image-button {
  /* Make images fit into the header properly */
  padding: 0;
  height: 70%;
  background-color: transparent;
  border: none;
  margin: calc(6vw * .1); /* Make the button/image fit inside the header properly */
}

.header-image-button img {
  height: 100%;
}

.header-left a {
  margin-left: 3vw;
  color: #000000;
  text-decoration: none;
  font-size: 1.5vw;
}