<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orgs Index</title>
</head>
<body>
    <% for (let i = 0; i < orgs.length; i++) { %>
        <div>
            <h1><%= orgs[i].Name %></h1>
            <img src="<%= orgs[i].ProfilePicture %>" alt="">
            <p><%= orgs[i].Bio %></p>
            <a href="/organizations/<%= orgs[i]._id %>">Show more</a>
        </div>
    <% } %>
</body>
</html>