<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Organization</title>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <form action="/organizations/new" method="POST">
        <div>
            <label for="name">Organization Name</label>
            <input type="text" name="Name" id="name" required autocomplete="off">
        </div>
        <div>
            <label for="category">Category</label>
            <input type="text" name="Category" id="category" required autocomplete="off">
        </div>
        <div>
            <label for="bio">Bio</label>
            <input type="text" name="Bio" id="bio" required autocomplete="off">
        </div>

        <div>
            <label for="founded">Founded</label>
            <input type="date" name="Founded" id="founded" required autocomplete="off">
        </div>

        <div>
            <label for="profilepic">Profile Picture</label>
            <input type="text" name="ProfilePicture" id="profilepic" required autocomplete="off">
        </div>

        <button>Create</button>
    </form>
</body>
</html>
