<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    </head>
    <body>
    <h1>New Post</h1>
    <form action="/organizations/create" method="POST">
    <div>
    <label for="Name">Organization Name</label>
    <input type="text" name="Name" id="name" required>
    </div>

    <div>
    <label for="ProfilePic">Organization Image</label>
    <input type="text" name="ProfilePic" id="ProfilePic" >
    </div>

    <div>
    <label for="Bio">Organization Bio</label>
    <input type="text" name="Bio" id="Bio" required>
    </div>
    <div>
    <label for="Category">Organization Category</label>

    <select name="Category" id="Category" class="form-select" required>
    <option value="World News">World News</option>
    <option value="Sports">Sports</option>
    <option value="Salesian Scoop">Salesian Scoop</option>
    <option value="Student Spotlight">Student Spotlight</option>
    <option value="Wellness">Wellness</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Crossword">Crossword</option>
    </select>
    </div>
    <div>
    <label for="Founding">Organization Founding Date</label>
    <input type="text" name="Founded" id="Founded" required>
    </div>


    <button>Create</button>
    </form>
    </body>
    </html>